
.event {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    padding: 15px;
    padding-bottom: 1px;
    width: 200px;
    min-height: 125px;
    box-shadow: 0 2px 5px rgba(61, 59, 59, 0.2);
    border-radius: 30px;
    transform: scale(1);
    transition: transform 0.7s ease;
    text-align: center;
}



.more-info {
    display: block;
    margin-top: 10px;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}

.year {
    padding: 5px;
    color: rgb(71, 30, 11);
    font-weight: bold;
    border-bottom: 2px solid;
    width: 100%;
    text-align: center;
}

.event p {
    flex-grow: 1;
    margin-bottom: 0px;
}


.more-info {
    display: none;
    cursor: pointer;
}

.event:hover .more-info {
    display: block;
    font-size: 12px;
    color: rgb(84, 38, 21);
    text-align: center;
    padding-bottom: 15px;
    padding-top: 1px;
    text-decoration: none;

}


.event:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(202, 31, 31, 0.3);

}

.timeline-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    padding: 0 140px;
}

button{
    background-color: #ffffff;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
}



.buttoon {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#toggle-timeline:hover{
    background-color: #efebeb;
}





.events h2 {
    color: #F6E2E1;
    margin-bottom: 0px;
    text-align: center;
    font-size: 32px;
}

.events {
    background-color: #7F6169;
    padding: 0 140px;
    padding-top: 100px;
}

.event-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 45px;
}

.event-card {
    background-color: #7F6169;
    width: 250px;
    padding: 15px;
    border-radius: 30px;
    color: #F6E2E1;
    border-style: solid;
    transform: scale(1);
    transition: transform 0.7s ease;
}

.event-card:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 5px rgba(227, 35, 35, 0.2);
}

.event-card h3 {
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    border-radius: 30px;
    width: 250px;
    height: 200px;
    overflow: hidden;
    transform: scale(1);
    transition: transform 0.7s ease;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 5px rgba(227, 35, 35, 0.2);
}


.load-more-button {
    display: flex;
    justify-content: center;
    padding: 40px 0;

}

#load-more-button {
    background-color: #b69e9e;
    border-radius: 5px;
    border: none;

    transition: background-color 0.3s ease;

}

#load-more-button:hover {
    background-color: #F6E2E1;
}









@media (max-width: 768px) {

  
    body p {
        font-size: 14px;
    }
    .hronologia {
        flex-direction: column;
        align-items: center;
    }

    .event {
        margin-bottom: 20px;
    }

    header {
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
    }

    nav ul {
        display: flex;
        padding: 0;
    }

    .cont {
        margin: 10px 20px;
    }

    .photo-container {
        width: 250px;
        padding: 3px;
        margin-left: 10px;
        margin-bottom: 10px;
        margin-top: 40px;
    }

    .cont h2 {
        font-size: 22px;
    }

    #timeline {
        padding: 10px 0px;
        padding-bottom: 50px;
    }

    .sect-name {
        font-size: 22px;
    }

    .text {
        margin: 30px 20px;
    }

    .hronologia {
        display: flex;
        flex-direction: column;
        padding: 0 90px;
    }

    .event {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .event p {
        flex-grow: 1;
        padding: 1px;
    }

    .article p {
        font-size: 14px;
    }
    .events {
        padding: 30px 20px;
    }

    .event:hover{
        transform: scale(1.05);

    }

    .event-container {
        display: flex;
        justify-content: center;
    }

    .image-container:hover {
        transform: scale(1.05);
    }
    
    .event-card:hover {
        transform: scale(1.05);
    }

    .events h2 {
        font-size: 22px;
    }

    footer {
        padding: 20px 20px;
    }

   

}

















@media (max-width: 480px) {

    body p{
        font-size: 15px;
    }

    header {
        padding: 10px 10px;
        display: flex;
    }

    header .logo-img {
        width: 70px;
    }

    header .site-name h1 {
        font-size: 25px;
    }


    nav ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    nav ul li a {
        font-size: 15px;
    }


    .article {
        padding: 5px;
    }

    .photo-container {
        display: flex;
        margin: 0 auto;
        float: none;
        max-width: 100%;
        height: auto;
    }

    .h22 {
        text-align: center;
    }

    #timeline {
        padding: 10px 0;
        padding-bottom: 50px;

    }
    .hronologia {
        display: flex;
        flex-direction: column;
        padding: 0 30px;
    }

    .more-info {
        color: rgb(95, 51, 19);
    }

    .footer-cont {
        display: flex;
        flex-direction: column;
        padding: 0px;
        font-size: 10px;
    }

    .left-c {
        width: 100%;
    }

    .right-c img {
        width: 25px;
    }
}