.profile-container {
    max-width: 500px;
    margin: 80px auto;
    padding: 30px;
    background-color: #fdfdfd;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
  }
  
  .logout-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #622a2a;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #a32b2b;
  }
  